/* .glass{
    max-width: 1000px;
} */

.container{
    max-width: 1100px;
}




.cent{
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.glass{
    overflow: hidden;
    height: auto;
    padding: 0 50px;
    border-radius: 20px;
    backdrop-filter: blur(2px) !important;
    background-color: #f0652498;
}
.projects{
    height: 70%;
}