/* .glass{
    width: auto;
    border-radius: 2rem;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
      );
      /* z-index: 8; */
      backdrop-filter: blur(2rem);
} */