.header {
  width: 100%;
  padding: 0px 10px;
  height: 100px;
  font-family: "Proza Libre", sans-serif;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  /* background-color: #f0652498; */
  backdrop-filter: blur(10px);
  transition: all 200ms ease-in-out;
  box-shadow: 0px 0px 2px rgb(0, 0, 0);
}

.nav-bar {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-button {
  display: none;
  width: 47px;
  height: 47px;
  background: transparent;
  border: none;
  outline: none;
}

p {
  font-size: medium;
}

.menu-img {
  width: 40px;
  height: 40px;
}

.menu-img:active {
  width: 47px;
  height: 47px;
}

.hidden-menu {
  height: 0;
  opacity: 0;
  pointer-events: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: #f0652498; */
  transition: all 200ms ease-in-out;
  backdrop-filter: blur(5px);
  box-shadow: 0px 0px 2px rgb(0, 0, 0) ;
}

.not-hidden-menu {
  opacity: 1;
  z-index: 99;
  position: absolute;
  pointer-events: all;
  height: 100%;
  font-style: bold;
}

.logo {
  padding-right: 50px;
  width: auto;
  height: 30px;
  display: flex;
  align-items: center;
  transition-property: filter;
  transition-duration: 200ms;
}

.header-items {
  width: 40vw;
  max-width:400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-project {
  list-style: none;
  font-size: 16px;
  text-decoration: none;
}
