.header {
  width: 100%;
  padding: 0px 10px;
  height: 100px;
  font-family: "Proza Libre", sans-serif;
  z-index: 99;
  position: relative;
  backdrop-filter: blur(1rem);
}

.nav-bar {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-button {
  display: none;
  width: 47px;
  height: 47px;
  background: transparent;
  border: none;
  outline: none;
}

@media screen and (max-width: 1020px) {
  p {
    font-size: medium;
  }
  .project {
    font-size: large;
  }
  .intro {
    font-size: large;
  }
  .projectimg{
    width: 70px;
    height: 70px;
  }
}

@media screen and (max-width: 720px) {
  .projectimg{
    width: 50px;
    height: 50px;
  }
  .menu-button {
    display: block;
  }
  .onheader {
    display: none !important;
  }
  .header {
    padding: 0;
  }
  .nav-bar {
    padding: 0 10;
  }
  p {
    font-size: medium;
  }
  .project {
    font-size: large;
  }
  .intro {
    font-size: large;
  }
}

@media screen and (max-width: 520px) {
  p {
    font-size: small;
  }
  .project {
    font-size: medium;
  }
  .projectimg{
    width: 40px;
    height: 40px;
  }
}

.menu-img {
  width: 40px;
  height: 40px;
}

.menu-img:active {
  width: 47px;
  height: 47px;
}

.hidden-menu {
  height: 0vh;
  opacity: 0;
  pointer-events: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  transition: all 200ms ease-in-out;
  z-index: 99;
}

.not-hidden-menu {
  opacity: 1;
  pointer-events: all;
  height: 100px;
}

.logo {
  width: auto;
  padding-right: 50px;
  /* margin-right: auto; */
}

.header-items {
  width: 70vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-project {
  list-style: none;
  font-size: large;
  text-decoration: none;
}
