.header {
  width: 100%;
  padding: 0px 10px ;
  height: 10%;
  font-family: 'Proza Libre', sans-serif;
}

.nav-bar {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

