* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  background-color: #ff4e00;
  background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
}

.menu-button {
  display: none;
  width: 47px;
  height: 47px;
  background: transparent;
  border: none;
  outline: none;
}


@media screen and (max-width: 720px) {
   .menu-button{
       display: block;
   }
   .onheader
   {
       display: none !important;
   }
  }

.menu-img {
  width: 40px;
  height: 40px;
}

.menu-img:active {
  width: 47px;
  height: 47px;
}



.hidden-menu
{
    height: 0vh;
    opacity: 0;
    pointer-events: none;
    width: 100%;
    display: flex;
    flex-direction: column;

    justify-content: space-around;
    align-items: center;
    transition: all 200ms ease-in-out;
}

.not-hidden-menu{
    opacity: 1;
    pointer-events: all;
    height: 10vh;
}

.logo{
  width: auto;
  /* margin-right: auto; */
}

.header-items
{
  width: 70vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-project
{
  list-style: none;
  text-decoration: none;
}


a {
  color: black;
  text-decoration: none;
}