@media screen and (max-width: 1020px) {
  p {
    font-size: medium;
  }
  .project {
    font-size: large;
  }
  .intro {
    font-size: large;
  }
  .projectimg {
    width: 70px;
    height: 70px;
  }
}

@media screen and (min-width: 720px) {
  .projects{
    height: 95%;
  }
}

@media screen and (max-width: 720px) {
  .languages {
    padding-top: 0;
  }
  .projectimg {
    width: 50px;
    height: 50px;
  }
  .menu-button {
    display: block;
  }
  .onheader {
    display: none !important;
  }
  .header {
    padding: 0;
  }
  .nav-bar {
    padding: 0 10;
  }
  p {
    font-size: medium;
  }
  .project {
    font-size: large;
  }
  .intro {
    font-size: large;
  }
}

@media screen and (max-width: 520px) {
  .section {
    padding: 0 !important;
  }
  #fp-nav.fp-right {
    opacity: 0;
  }
  p {
    font-size: small;
  }
  .project {
    font-size: medium;
  }
  .projectimg {
    width: 40px;
    height: 40px;
  }
}

@media screen and (max-width: 576px) {
  .section {
    padding: 0 !important;
  }
  #contactme{
    height: 77%;
    width: 70%;
  }
}
